[MYSQL]
host = 171.244.29.169
port = 3307
username = root
password = dZOnemySQLlab2017zzz
dbname = backend_cm_vieon
dbname_stream = streaming

[MYSQL_TEST]
host = 171.244.29.169
port = 3307
username = root
password = dZOnemySQLlab2017zzz
dbname = backend_cm_vieon
dbname_stream = streaming

[MONGODB_OTT]
uri=mongodb://loggingUser:abc123@171.244.29.169:27021/ott_caching
mode=Nearest

[MONGODB_DM]
uri=mongodb://loggingUser:abc123@171.244.29.169:27018/dm_db
mode=Nearest     # Nearest/SecondaryPreferred/Default

[REDIS]
host = localhost
port = 6379
hostRead = localhost:6379
hostWrite = localhost:6379

[REDIS_KV]
host = localhost
port = 6379
hostRead = localhost:6379
hostWrite = localhost:6379

[REDIS_USC]
host = localhost
port = 6379
hostRead = localhost:6379
hostWrite = localhost:6379

[IMAGE]
domain_cdn = https://static.vieplay.vn/dev-vieplay-image


[MENU]
menu_id = e268df91-d75a-11e8-bdb7-3863bb2c40e4
page_home_id = cf73673f-b553-45ab-ab2f-329e3698543e

[STREAMING]
secret_token = TOJcdwAieGwvkRZVYQMHpNhBNtpYEMJjtiXIsMWBrivdDJKjtnwVNVOvPKBTwoUu
secret_token_livetv = xvr6vx9aerqy20gwumcy11nq2i8u2wb70kko9ht7spt8679w5eecyybls1cbze94

[SENTRY]
dsn = https://eb3d8bf30d1442039239535780d4d664:91f1f7f6326c4da996e7f9d097eb08a0@sentry.dtube.vn/28

[ENV]
env = localhost

[KAFKA]
server_list = 127.0.0.1:9092

[ELASTICSEARCH]
uri = http://221.132.18.187:9200

[FIREBASE]
server_key = AAAAYlQaBfI:APA91bEM6LOgUO98R-530FiggcWDTPeu9__9nWsRXgDldEhJHkKAT3ONj7XICqMeVKjtu4jUKa2sKUzls5If6o24K7nve4BIonv7K7fBNLIDjHjwWkttx-O7tA3q-S1yPuNwttWElL6w

[SOCKET_MESSAGE]
id_admin = kxoccyrtfywtpdnofwhfhiwrbfalvzjr
socket_protocol = ws://

[PAYMENT_VTVCAB]
aes_key = 8kqQvJGij3r9XjzgUQOQuQ==
merchant_code = dv01
language = vi-VN
secrect_key = TXKDPCU36584MWYX7LDB
paygate_public = paygate-public.pem
vieon_private = vieon-private.pem
private_key_token_vcab = private-key-token-drm.pem
api_vcab = http://api.paygate.vtvpay.live/v1

[SEND_EMAIL]
host = mail.datvietvac.vn
port = 465
user = no-reply@vieon.vn
password = VieON$56789$

[SENDGIRD]
sendgrid_api_key = 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

[PAYMENT_MOMO]
access_key = BV8RsK2LIfdGmVWw
secrect_key = qhbjybPbDdq0GeulrdTnuZANXBEi0WKJ
partner_code = MOMOFD6420191206
public_key = MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAkCsMiceeQuFoKYtJUOHgkA92l4gSq1DP5MWTAqjqeheBzrSbin6NOhcz1RULKQrALnUoMPc9k2eu4O2aNtojxgoTsEQVYrx+70yXH734A3/M/i32wm7Rsvu7lZeDyFXE7V4RB
api_momo = https://test-payment.momo.vn
api_vieon = https://dev-api.vieon.vn
web_vieon = https://dev.vieon.vn

[PAYMENT_VNPAY]
tmn_code = DZONES01
hash_secret = SCHBFKQFMBMNQAIUYCMCSVYGBQERTF
api_vnpay = https://pay.vnpay.vn/vpcpay.html
api_vnpay_refund = 
order_type = 250006
app_id = 
secret_key = 
qr_merchant_code = 0314415573
qr_merchant_name = DZONES HUB
qr_merchant_type = 4899
qr_terminal_name = VIEON TV
qr_terminal_id = DZONES03
qr_app_id = MERCHANT
qr_secret_key = vnpay@Merchant
qr_api_vnpay = https://createqr.vnpay.vn
qr_secret_key_vieon = KT9x7jhWRVdUezgp

[QNET]
domain_api = http://sandbox.qnet.com.vn
secret_key = QN3tDZ0n3s
operator_id = 7

[SCB]
api_scb = https://cardtest.Sacombank.com.vn:9448/checkout
profile_id = Dzones
access_key = ujkngosfzvrvugrkskmqfqjq
shared_key = grhaxrzjpjsskmrcyplfvqzc
private_key_checkout = scb-private-key.pem

[PAYMENT]
pack_group_id = 15
list_pack_mbf = 15,16,17,1

[GLOBAL_CONFIG]
status_listepisode_getuserinfo=true
ttl_localcache=30
ttl_kvcache=60
web_vieon = https://dev.vieon.vn

[CONFIG_MBF]
list_ip = 127.0.0.1/24,113.187.3.0/24,113.187.0.0/24,113.187.6.0/24,113.187.7.0/24,113.187.4.0/24,113.187.8.0/24,103.234.88.0/24,101.99.10.0/25,101.99.8.0/25,103.234.89.0/24,101.99.10.128/25,101.99.8.128/25,113.187.2.0/24,113.187.16.0/25,113.187.17.0/25,113.187.22.0/27,113.187.23.0/25,113.187.16.128/25,113.187.17.128/25,113.187.24.0/27,113.187.25.0/27,103.237.64.0/24,103.237.65.0/24,103.237.66.0/24,103.237.67.0/24

[GIFT_CODE]
secret_key = VIEON_rPKp7M39cQwnJtYJ

[GG_PAYMENT]

[LINK_PLAY]
host_name = https://dev-playlist.vieon.vn
client_id = vieon
client_secret = uSJuP8rr2WPITQ0i5LEo8uFyCA5MOOGm

[PAYMENT_ASIAPAY]
partner = ASIAPAY
2DmerchantId = 74001266
2DmerchantApiId = apin3dvieon
2Dpassword = n3dvieon1234
2Dsecret = d3QPU44RokRq0LppbrSlVUxL3jctBTfy
2DkeyAsian = bahfhwjhksfgfgnsdylabdfurlwbagahrkwgghaeflki
2DivAsian = agahrkwgghaeflki
3DmerchantId = 74001254
3DmerchantApiId = apivieon3d
3Dpassword = vieon3d1234
3Dsecret = 8sxgQl7KqGfFjxFOLPyZlQTGCtYoXhhe
3DkeyAsian = Jksfsfgksbgiuqqdsjvchdjasgtgsdjsweoladfkkkkk
3DivAsian = sdjsweoladfkkkkk
VND = 704
linkVisa = https://test.paydollar.com/b2cDemo/eng/payment/payForm.jsp
linkMShip = https://test.paydollar.com/b2cDemo/eng/merchant/api/MembershipApi.jsp
linkMPay = https://test.paydollar.com/b2cDemo/eng/merchant/api/MemberPayApi.jsp
linkPay = https://test.paydollar.com/b2cDemo/eng/dPayment/payComp.jsp
linkRefund = https://test.paydollar.com/b2cDemo/eng/merchant/api/onlineApi.jsp
linkCheck = https://test.paydollar.com/b2cDemo/eng/merchant/api/orderApi.jsp

[PAYMENT_APPLE_IAP]
appSharedSecret = fea2772072394053b04a8334a39df18f
appSharedSecretStag = fcbfb720865549f8a446c34578fcf887
verifyReceiptLink = https://buy.itunes.apple.com/verifyReceipt
verifyReceiptLinkSand = https://sandbox.itunes.apple.com/verifyReceipt

[MBF_9029_FTP]
ftpHost = 10.50.9.248
ftpUser = cttvieon
ftpPass = f43Cb32f

[RECURRING_PAYGATE]
DELTA_VAL = 1440
NEXT_DAYS_RETRY = 1
PAYMENT_FAIL_COUNT_LIMIT = 10
MAX_DAYS_TO_RETRY = 60

[PAYMENT_GRAB_MOCA]
partnerID = 233fbd10-458c-4ae8-bff9-83f8e220d8dc
partnerSecret = LIJHd0840KG9bw4s
grabID = 94d7641f-5d1d-4d94-aac9-27faabf64a05
terminalID = 245072d2dca8f3ae776f2b897
prefixEndpoint = https://stg-paysi.moca.vn
endpointCreateOrder = /mocapay/partners/v1/terminal/qrcode/create
endpointInquiry = /mocapay/partners/v1/terminal/transaction/@partnerTxID@
endpointCancel = /mocapay/partners/v1/terminal/transaction/@origPartnerTxID@/cancel
endpointRefund = /mocapay/partners/v1/terminal/transaction/@origPartnerTxID@/refund

[PAYMENT_ZALOPAY]
appID = 752
macKey = SgbnS6so8kiOvK90iK7svrSCaPAHiEjx
callbackKey = 2x61hfp2NeQPnYlXmSzlugOBEnaMaJP0
rsaPublic = MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJYF23mhklWvfh5h+K0CiPJwC+I0v582BpSnUbNi9Yj/ uRvX30M8P4C66SJTbHU+JDqgyZFIFEQlsfqRoe2glxsCAwEAAQ==
appID_QR = 988
macKey_QR = IJOnjyfWdKJHCjXktchK02dJUbFZyoAZ
callbackKey_QR = mjTDdl2ZHRe7fJjLCgHGKBSKvSuExxOK
rsaPublic_QR = MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJCBhiL4+27iA3MVXvLW0P8cTMQQxf7GjNJXnymatV2b p2Ew/1ZzcVpa7TXJE3L2rliX6BIoQiqNY8vjL6Z9+/8CAwEAAQ==
prefixEndpoint = https://sb-openapi.zalopay.vn
endpointCreateOrder = /v2/create
endpointInquiry = /v2/query
endpointAgreementBind = /v2/agreement/bind
endpointAgreementInquiry =  /v2/agreement/binding/@ID@
endpointAgreementBalance =  /v2/agreement/balance
endpointAgreementPay =  /v2/agreement/pay
endpointAgreementUNBind = /v2/agreement/unbind

[KPLUS]
livetv_kplus_1_hd_id=51accb2c-1de0-4a5c-9d8a-b139a22b9012
livetv_kplus_ns_hd_id=4036427a-6532-4d09-be1f-aaf5873c7e47
livetv_kplus_pc_hd_id=ae0e97e2-72e2-403e-9550-1b20c4683d9f
livetv_kplus_pm_hd_id=1e5e9480-13d0-4a3c-970b-78288003d728
livetv_group_kplus=1ee5462d-0328-4d1a-ab1b-660f8a441e57
topic_kafka_getepg_kplus=MIGRATE_MYSQL_TO_MONGODB
list_packages=56,57,58,59
group_package=20

[VIETTEL]
ve1 = 41
ve2 = 42
ve3 = 44
dke = 50
huyve = 50
dke1 = 51
huyve1 = 51

[PLAY_LIST]
host_name = https://dev-playlist.vieon.vn
client_id = vieon
client_secret = uSJuP8rr2WPITQ0i5LEo8uFyCA5MOOGm

[DRM]
castlab_config = {"vod_output_protect":true,"vod_store_licence":true,"vod_output_protect_analogue":true,"vod_output_protect_digital":true,"vod_output_protect_enforce":false,"livetv_output_protect_analogue":true,"livetv_output_protect_digital":true,"livetv_output_protect_enforce":false,"livetv_output_protect":true,"save_request":true,"livetv_store_licence":false}
list_packages=55,56,57,58,59,60,61
group_package=32
block_by_strings=Viet Play,Lavf

[NOTFOUND_PREVIEW]
vod_collection_id = 49114cb2-8bba-4d4f-870f-87134f3fe358
livtv_collection_id = 1395542f-4a62-42ba-98b0-d74983516c2a

[APIES]
host_name = https://1c65fb04810047b5814f539d8895366b.ent-search.ap-southeast-1.aws.cloud.es.io
token = search-a18ci3rowcq1fkwuope48y4k
prefix = dev-

[LIVETV]
limit_request = 10
list_ip_lock = 127.0.0.1,127.0.0.2
